.link {
    color: #FFFFFF;
    text-decoration: underline;
    transition: opacity 0.3s;
    font-family: Inter, sans-serif;
}

.link:visited {
    color: #FFFFFF;
}

.link:hover {
    opacity: 80%;
}
