.intro__text {
    font-weight: 400;
    line-height: 26.08px;
    max-width: 690px;
    font-family: 'Inter', ‘Arial’, sans-serif;
}

@media (max-width: 768px) {
    .intro__text {
        font-size: 16px;
    }
}
