.intro {
    width: 984px;
    margin: 48px auto 92px auto;
    font-family: 'Inter', ‘Arial’, sans-serif;
}

@media screen and (max-width: 1279px) {
    .intro {
        width: 90.6%;
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        width: 93.75%;
        margin: 48px auto 88px auto;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        width: 90%;
        margin: 48px auto 64px auto;
    }
}
