.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 92px 48px 24px;
}

@media (max-width: 768px) {
    .footer {
        align-items: flex-start;
        flex-direction: column;
        gap: 48px;
    }
}
